<template>
  <div class="intro-icons">
    <div class="left">
      <div class="innerleft">
        <div class="left-title">
          LISTEN TO YOURSELF
          FOLLOW YOUR HEART
        </div>
        <div class="left-info"> With Event app you get online of your choice. </div>
        <div class="left-download">
          <div>DOWNLOAD APP NOW</div>
          <div class="download-icons">
            <img src="../assets/appstore.png" alt="" />
            <img src="../assets/googleplay.png" alt="" />
            </div>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="../assets/phoneicon.png" alt="" />
    </div>
  </div>
</template>

<script setup lang="ts"></script>
<style scoped>
.intro-icons {
  display: flex;
  justify-content: space-between;
  height: inherit;
  margin-top: 5em;
}

.right > img {
  width: 75%;
  height: 75%;
  margin: 0 auto;
  display: block;
}
.left {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
  border: 18px solid #7572ff;
}
.innerleft {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 38px -38px;
}
.left-title {
  font-family: 'Aeonik';
  font-size: 30px;
  line-height: 110%;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  padding: 1em 0.4em;
  color: #5956e9;
}
.left-info{
  color: #6C6C72;
  font-family: 'Aeonik';
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
  margin: 1em ;
}

.left-download{
  font-family: 'Aeonik';
  margin: 1em;
  font-weight: 500;

}
.download-icons > img{
  width: 150px;
  height: 50px;
  margin: 1em 2em -4em 0em;
}

@media (max-width: 767px) {
  .intro-icons {
    flex-direction: column;
  }
  .left {
    width: 90%;
    margin: 1rem;
    border: 10px solid #7572ff;
  }
  .innerleft {
    margin: 20px -20px;
  }

  .right {
    height: auto;
  }

  .right > img {
    width: 100%;
    height: 140%;
    margin-bottom: -5rem;
  }

  .download-icons > img{
    width: 100px;
    height: 40px;
    margin: 1em 2em -4em 0em;
  }
}
</style>
