<template>
  <div class="connect-info">
    <div class="left">
      <span>
        <i class="mdi mdi-email" style="color: aliceblue"></i>
        <span>info@youremail.com</span>
      </span>
      <span>
        <i class="mdi mdi-phone" style="color: aliceblue"></i>
        <span>+1 234 567 890</span>
      </span>
    </div>
    <div class="right">
      <span>
        <i class="mdi mdi-facebook" style="color: aliceblue"></i>
      </span>
      <span>
        <i class="mdi mdi-instagram" style="color: aliceblue"></i>
      </span>
      <span>
        <i class="mdi mdi-twitter" style="color: aliceblue"></i>
      </span>
      <span>
        <i class="mdi mdi-youtube" style="color: aliceblue"></i>
      </span>
    </div>
    <div class="right"></div>
  </div>
  <div class="nav-bar">
    <span>
      <img src="../assets/menu-line.png" alt="" class="lines" @click="toggle">
      <a href="#" class="home"> HOME </a>
      <a href="#" class="about"> ABOUT </a>
      <a href="#" class="features"> FEATURES </a>
      <a href="#" class="revel"> REVEL </a>
      <a href="#" class="contact"> CONTACT </a>
      <a href="#" class="team"> TEAM </a>
      <a href="#" class="download"> DOWNLOAD</a>
    </span>
  </div>
  <div class="overlay" :class="{open: show}">
  <div class="content">
    <img src="../assets/Remove.png" id="close" @click="toggle"/>
    <p>Home</p>
    <p>About</p>
    <p>Features</p>
    <p>Screenshots</p>
    <p>Blog</p>
  </div>
</div>
</template>

<script setup lang="ts">
import { ref } from "vue";
const show = ref(false);

const toggle = () => {
  show.value = !show.value;
};
</script>

<style scoped>
@import "@mdi/font/css/materialdesignicons.css";
@font-face {
  font-family: 'Aquire';
  src: url('../assets/font/AquireBold-8Ma60.otf') format('opentype');
}

.connect-info,
nav {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 2em 10em;
}

.lines {
  display: none;
}
.connect-info .left {
  flex: 1;
}
.connect-info .left > span {
  margin: 1em;
}

.left > span > i {
  margin-right: 1em;
}
.right > span {
  margin: 1em;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

/* Show Overlay */
.overlay.open {
  visibility: visible;
  opacity: 1;
}

/* Overlay Content */
.overlay .content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  background: #fff;
  padding: 20px;
  text-align: center;
}


.nav-bar > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  margin: 1em 10em;
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  margin: 0 1em;
  color: black;
}

.revel {
  background-color: white;
  padding: 1em 2em;
  border-radius: 5px;
  font-family: "Aquire";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
}

.download {
  color: white;
  background: #5956e9;
  border-radius: 5px;
  padding: 1em 2em;
}

@media (max-width: 767px) {
  .connect-info, .home, .about, .features, .contact, .team{
    display: none;
  }

  .lines {
    display: block;

  }

  .nav-bar > span {
    margin: 1rem  0.5rem;
    padding: 1em;
    background-color: none;
    height: 2em;

  }

  .revel {
    font-size: 1.5rem;
    margin-right: -1em;
    padding: 1em 0.7rem;

  }
  .download {
    font-size: small;
    padding: 1em 1em;
    margin-right: -1em;
  }
}
</style>
