<template>
  <div class="main">
    <div class="title">
      <h1>ABOUT OUR APP</h1>
      <span
        >REVEL is a Nepali Event management & ticketing platform. The services
        allows oragnizers to promote local and outdoor events. Revel is not just
        a ticketing platform it also connects people from different location to
        an Event.</span
      >
    </div>
    <div class="left"><img src="../assets/aboutus.png" alt="" /></div>
    <div class="right">
      <div class="creative">
        <h3><img src="../assets/bluetick.png" /> CREATIVE DESIGN</h3>
        <span>
          The UI holds modern and Asthetic design pattern. The UI is easy to
          navigate and discover. Radar View and Tile View helps to discover
          events in new way and expand the user finding of events.
        </span>
      </div>
      <div class="easy">
        <h3><img src="../assets/bluetick.png" /> EASY TO USE</h3>
        <span>
          From Login screen to Home Screen user are well connected to the Revel
          environment and Guide UI animation just makes thing easy and
          understandable.
        </span>
      </div>
      <div class="better-ux">
        <h3><img src="../assets/bluetick.png" /> BEST USER EXPERIENCE</h3>
        <span>
          For better usablitiy and accessibility the division of sections are
          well maintained in less steps and more user-Friendly.
        </span>
      </div>
    </div>
  </div>
</template>
<style scoped>
.main {
  display: grid;
  background-color: white;
  grid-template-areas:
    "title title"
    "left right";
  grid-template-columns: 1fr 1fr;
}
.title {
  grid-area: title;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 1em 0;
}
.left {
  grid-area: left;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}
.right {
  grid-area: right;
  margin: 0 auto;
  width: 70%;
  height: 50%;
}
.creative, .easy, .better-ux {
  margin: 5em 0;
}
.creative > h3, .easy > h3, .better-ux > h3 {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media (max-width: 767px) {
  .main {
    grid-template-areas:
      "title"
      "left"
      "right";
    grid-template-columns: 1fr;
    margin-top: 20rem;
  }
  .title {
    width: 70%;
  }
  .left {
    margin-top: 5rem;
    text-align: center;
    width: 60%;
  }
  .left > img {
    width: 90%;
  }
  .right {
    width: 80%;
  }
}
</style>
