<template>
  <div class="feature">
    <div class="app-feature">
      <h2>APP FEATURES</h2>
      <span
        >The <b>REVEL</b> makes use of a bunch of different features, including
        Radar scanner, Tile View UI, Use of Glassmorphism, Modern UI Design
        pattern.</span
      >
    </div>

    <div class="explore">
      <img src="../assets/features/commentmessage.png" alt="" />
      <h2>EXPLORE CATEGORIES</h2>
      <span
        >Explore event categories based on your interest and
        recommendation</span
      >
    </div>

    <div class="feature-app">
      <div class="unlimited-feature">
        <img src="../assets/features/browserfeatues.png" alt="" />
        <h3>UNLIMITED FEATURES</h3>
        <span
          >Features like Radar View, Tile View and buy ticket of multiple place
          at same time</span
        >
      </div>
      <div class="iphone">
        <img src="../assets/iphone.png" alt="" />
      </div>

      <div class="version">
        <img src="../assets/features/cell-phone.png" alt="" />
        <h3>IOS & ANDROID VERSION</h3>
        <span>Support both cross platform and well maintained system</span>
      </div>

      <div class="design">
        <img src="../assets/features/vectorpen.png" alt="" />
        <h3>AWESOME UI DESIGN</h3>
        <span>
          Modern UI consuming design trends and user friendly at same time</span
        >
      </div>

      <div class="graphics">
        <img src="../assets/features/eye-scanner 1.png" alt="" />
        <h3>RETINA READY GRAPHICS</h3>
        <span
          >Different shades of Color been used to stop monochrome
          experience</span
        >
      </div>
    </div>
    <div class="telecommunication">
      <img src="../assets/features/male-telemarketer.png" alt="" />
      <h3>24/7 support by real pepole</h3>
      <span
        >User can buy ticket at any time from anyplace, with 24 hour full
        support from the team</span
      >
    </div>
  </div>
</template>

<style scoped>
.feature {
  background-image: url("../assets/featurebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100vh; */
  padding: 2rem 0;
}
.app-feature,
.explore,
.telecommunication {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.app-feature > span,
.explore > span {
  width: 40%;
  text-align: center;
}

.feature-app {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "unlimited iphone version"
    "design iphone graphics";
  grid-template-columns: auto auto auto;
  color: white;
}
.unlimited-feature {
  grid-area: unlimited;
}
.iphone {
  grid-area: iphone;
}

.unlimited-feature,
.design {
  width: 50%;
  text-align: right;
  margin-left: auto;
  padding: 0 2rem;
}

.version,
.graphics {
  width: 50%;
  text-align: left;
  margin-right: auto;
  padding: 0 2rem;
}

.design,
.graphics {
  margin-top: auto;
}
.version {
  grid-area: version;
}
.design {
  grid-area: design;
}
.graphics {
  grid-area: graphics;
}

@media (max-width: 767px) {
  .feature-app {
    grid-template-areas:
      "unlimited"
      "iphone"
      "version"
      "design"
      "graphics";
    grid-template-columns: auto;
  }

  .app-feature > span,
  .explore > span {
    width: 80%;
    text-align: center;
  }
  .unlimited-feature,
  .design {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 2rem 1rem;
  }
  .iphone {
    width: 70%;
  }
  .version,
  .graphics {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 1rem 1rem;
  }

  .telecommunication > span{
    width: 80%;
    text-align: center;
  }
}
</style>
