<template>
  <div class="introduction">
    <Navbar />
    <IntroSection />
  </div>
</template>

<script setup lang="ts">
import Navbar from "../components/Navbar.vue";
import IntroSection from "../components/IntroSection.vue";
</script>

<style scoped>
.introduction {
  background-image: url("../assets/introbackground.png");
  height: 100vh;
  width: 100vw;
}
</style>
