<template>
  <div>
    <Introduction />
    <About />
    <Feature />
  </div>
</template>

<script setup lang="ts">
import Introduction from "./sections/Introduction.vue";
import About from "./sections/About.vue";
import Feature from "./sections/Feature.vue";
</script>

<style scoped>
div {
  padding: 0;
}
</style>
